{{#foreach posts}}
  <article itemscope="itemscope" itemtype="http://schema.org/BlogPosting" class="list-post {{post_class}}">
    <meta itemprop="author publisher" content="Tyler Walters"/>

    <header class="post-header loop-header">
      <h2 itemprop="headline name" class="post-title"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>

      <span class="post-meta">
        <time datetime="{{date format="MMMM DD, YYYY"}}" itemprop="datePublished">{{date format="MMMM DD, YYYY"}}</time> in
        {{#foreach tags}}
          <span itemprop="keywords"><a href="{{url}}">{{name}}</a></span>
        {{/foreach}}
      </span>
    </header>

    <section itemprop="description" class="post-excerpt">
      {{excerpt words="50"}} <a class="read-more" href="{{url}}" itemprop="url">&raquo;</a>
    </section>
  </article>
{{/foreach}}

<div class="inner">
  {{pagination}}
</div>