<!DOCTYPE html>
<html></html>
<head>
  <meta charset="UTF-8">
  <meta itemprop="url" content="http://tylerwalters.com">
  <meta itemprop="author" content="Tyler Walters">
  <meta itemprop="genre" content="Web Development">
  <meta itemprop="about" content="Tyler Walters talks about developing for the web, work-life balance, and drinking beer and eating wings in Phoenix, Arizona.">

  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/pure-min.css">

  <!--[if lte IE 8]>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->

  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->

  <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.css">

  {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">

  <div class="container">
    {{{body}}}

    <footer class="site-footer">
      <div class="inner">
        <section class="copyright">All content copyright <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
      </div>
    </footer>
  </div>

  {{ghost_foot}}

  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
  <script src="https://use.typekit.net/kpq6ybo.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>

</body>
</html>
