{{!< default}}

{{> "header"}}

{{navigation}}

{{#post}}
  <main role="main" class="content">
    <article itemscope="itemscope" itemtype="http://schema.org/Article" class="post-detail {{post_class}}">
      <header class="post-header">
        <h1 itemprop="headline name" class="post-title">{{title}}</h1>

        <span class="post-meta">
          <time datetime="{{date format="MMMM DD, YYYY"}}" itemprop="datePublished">{{date format='MMMM DD, YYYY'}}</time> in
          {{#foreach tags}}
            <span itemprop="keywords"><a href="{{url}}">{{name}}</a></span>
          {{/foreach}}
        </span>
      </header>

      <section itemprop="articleBody" class="post-body">
        {{content}}
      </section>

      <footer class="post-footer">
        <section class="share">
          <h4>Share this post</h4>
          <a class="social-iconr" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
             onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <i class="fa fa-2x fa-twitter nav-twitter"></i><span class="hidden">Twitter</span>
          </a>
          <a class="social-icon" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
             onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <i class="fa fa-2x fa-facebook nav-facebook"></i><span class="hidden">Facebook</span>
          </a>
          <a class="social-icon" href="https://plus.google.com/share?url={{url absolute="true"}}"
             onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <i class="fa fa-2x fa-google-plus nav-google-plus"></i><span class="hidden">Google+</span>
          </a>
          <a class="social-icon" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{url}}&amp;title={{encode title}}&amp;summary={{encode excerpt characters="150"}}&amp;source=Tyler%20Walters" onclick="window.open(this.href, 'facebook-share','width=520,height=570');return false;">
            <i class="fa fa-2x fa-linkedin nav-linkedin"></i><span class="hidden">LinkedIn</span>
          </a>
        </section>

        {{#author}}
          <section itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person" class="author pure-g">
            <figure class="author-image pure-u-1 pure-u-sm-1-3">
              <img src="{{asset "img/photo.jpg"}}" alt="{{name}}" itemprop="image"/>
            </figure>

            <div class="author-bio pure-u-1 pure-u-sm-2-3">
              <h4>Written by <span itemprop="name">{{name}}</span></h4>

              {{#if bio}}
                <p itemprop="description">{{bio}}</p>
              {{else}}
                <p>Read <a href="{{url}}">more posts</a> by this author.</p>
              {{/if}}
            </div>
          </section>
        {{/author}}
      </footer>
    </article>
  </main>

  <aside class="read-next inner pure-g">
    {{#prev_post}}
      <article class="prev-post pure-u-1 pure-u-sm-1-2" itemscope="itemscope" itemtype="http://schema.org/Article">
        <p class="read-next-label">Previous Post</p>
        <a itemprop="url" href="{{url}}"><h2 itemprop="headline name">{{title}}</h2></a>
        <p itemprop="description about">{{excerpt words="20"}} <a class="read-more" href="{{url}}" itemprop="url">&raquo;</a></p>
      </article>
    {{/prev_post}}
    {{#next_post}}
      <article class="next-post pure-u-1 pure-u-sm-1-2" itemscope="itemscope" itemtype="http://schema.org/Article">
        <p class="read-next-label">Next Post</p>
        <a itemprop="url" href="{{url}}"><h2 itemprop="headline name">{{title}}</h2></a>
        <p itemprop="description about">{{excerpt words="20"}} <a class="read-more" href="{{url}}" itemprop="url">&raquo;</a></p>
      </article>
    {{/next_post}}
  </aside>
{{/post}}