{{!< default}}

{{> "header"}}

{{navigation}}

<main role="main" class="content">
  <h1 class="inner">{{tag.name}}</h1>

  <p class="inner">
    {{#if tag.description}}
      {{tag.description}}
    {{else}}
      A {{pagination.total}}-post collection
    {{/if}}
  </p>

  {{> "loop"}}
</main>